*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(112, 206, 170);
    font-family: 'Comic Neue', cursive;
}

.logo {
    color: rgb(241, 239, 239);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: rgb(241, 239, 239);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger div {
    width: 25px;
    height: 5px;
    background-color: rgb(241, 239, 239);
    margin: 5px;
}